* {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    background: #0d0f0d;
    font-family: 'Manrope', sans-serif;
    font-family: Arial, sans-serif;
    color: #e1e7df;
}

h1,
h2,
h3 {
    font-family: 'Space Grotesk', sans-serif;
}

